.container {
  width: 100%;
}

.title_container {
  width: 100vw;
  height: 100%;
  padding: 130px 0px 90px 0px;
  position: relative;

  @media (max-width: 500px) {
    padding: 80px 0px 70px 0px;
  }
}

.title_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
}

.title_image_container {
  width: 300px;
  height: 500px;
  position: relative;

  @media (max-width: 500px) {
    width: 200px;
    height: 300px;
  }
}

@keyframes rotate3D_right {
  0% {
    transform: translate(-50%, -50%) perspective(500px) rotateY(-15deg) translateZ(-10px) scale(1.1);
  }

  50% {
    transform: translate(-50%, -50%) perspective(50px) rotateY(0deg) translateZ(0px) scale(1.1);
  }

  100% {
    transform: translate(-50%, -50%) perspective(500px) rotateY(-15deg) translateZ(-10px) scale(1.1);
  }
}

.title_image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: rotate3D_right 6.0s ease-in-out infinite;
  transform-style: preserve-3d;
  perspective: 1000px;

  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.3)) drop-shadow(0 8px 16px rgba(0, 0, 0, 0.2));
}

.title_text_container {
  width: 40%;
  max-width: 700px;
  min-width: 300px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.description {
  font-size: 16px;
  color: #ffffff;
}

@keyframes moveX {
  0% {
    margin-left: 100%;
  }

  45% {
    margin-left: 30%;
  }

  75% {
    margin-left: 40%;
  }

  100% {
    margin-left: -100%;
  }
}

@keyframes moveY {
  0% {
    margin-bottom: 0px;
  }

  100% {
    margin-bottom: 6px;
  }
}

@keyframes rotateAnime {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.car_container {
  position: absolute;
  bottom: 100px;
  left: 0px;
  height: 200px;
  animation: moveX 8s ease-in-out infinite;

  @media (min-width: 1300px) {
    animation: moveX 12s ease-in-out infinite;
  }
}

.car_body {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 10px;
  animation: moveY 0.5s ease-in-out infinite alternate;
  width: 300px;
}

.car_body_image {
  width: 100%;
  height: 100%;
}

.tire_front {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 35px;
  width: 50px;
}

.tire_front_image {
  width: 100%;
  height: 100%;
  animation: rotateAnime 0.4s linear infinite;
}

.tire_rear {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 225px;
  width: 50px;
}

.tire_rear_image {
  width: 100%;
  height: 100%;
  animation: rotateAnime 0.5s linear infinite;
}

.search_container {
  width: 100vw;
  height: 100%;
  padding: 80px 0px;
  background-image: linear-gradient(140deg,
      rgb(6, 129, 160),
      rgb(63, 5, 138),
      rgb(129, 3, 37));
}

.search_wrapper {
  width: 70%;
  padding: 40px 00px;
  margin: 0 auto;
  max-width: 1200px;

  @media (max-width: 500px) {
    width: 90%;
  }
}

.search_title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #ffffff;
}


.content_container {
  width: 100%;
  padding: 50px 0px;
}

.content_wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  color: #000000;
  max-width: 1200px;

  @media (max-width: 500px) {
    width: 90%;
  }
}

.content_title {
  font-size: 3rem;
  margin: 15px 0px;
  color: #ffffff;
}